<div class="row">
<div class="col-xs-12 col-md-8 col-md-offset-2">
<div class="panel panel-default thin about-panel">
<div class="panel-body">
<div class="row">
<div class="col-xs-12">
  
<h3><em>Ask the parties your questions this election</em></h3>
<p>
<strong>About Any questions</strong>
</p>
<p>
Any Questions is a Q &amp; A website where New Zealanders can ask the parties questions in the lead up to the election. It’s an easy way to find out the parties’ positions on issues, and to compare their views side by side. It’s also a way for you to make your voice heard this election, and get the parties talking about the things that are important to you. The parties will be answering the most popular questions, so vote for the ones you want answered. You'll can see the most popular, newest and trending questions. Here's the technical detail about <a href="http://designdemaa.tumblr.com/post/89808218627/designing-the-algorithm">how the algorithm works</a> to determine which questions you see.
</p>
<p>
Visit our <a href="https://twitter.com/AnyQuestions_NZ">@AnyQuestions_NZ (twitter)</a> or <a href="mailto:jan@scoop.co.nz">get in touch</a> to find out more.
</p>
<p>
<strong>Who we are</strong>
<p>
Scoop Media has used the <a href="https://github.com/askaway/askaway">Ask Away software</a> that was developed for the 2014 election as a starting point for this website.  They made some updates to it and has renamed it Any Questions.
</p>
<p>
The Askaway software can be used by other websites, too.
</p>
<p>
<br>
The Any Questions project is headed by Jan Rivers, Senior Researcher at Scoop Media.
</p>
<p>
<strong>Any Questions’ history</strong>
</p>
<p>
The original idea for this came from the <a href="http://designdemocracy.ac.nz/">Design and Democracy Project</a> at <a href="http://www.massey.ac.nz">Massey University</a>. It was used in the 2014 election when the system was called Ask Away. 
</p>
<p>
The <a href="https://github.com/askaway/askaway">original software</a> was made by <a href="https://twitter.com/HowieMeg">Meg Howie</a> as part of her Master of Design thesis.  <a href="https://twitter.com/jon_lemmon">Jon Lemmon</a> was the lead interface designer and web developer. (Jon is also a co-founder of <a href="https://loomio.org">Loomio</a>.) <a href="https://twitter.com/wombleton">Rowan Crawford</a> was involved as part of an initiative called Code For NZ.
</p>
<p>
They were supported by <a href="https://twitter.com/musettecc">Karl Kane</a> and <a href="https://twitter.com/Spinprofessor">Claire Robinson</a>, <a href="http://openlab.ac.nz/">Open Lab</a>, and the rest of the Design and Democracy team at Massey University were also supportive to the original project.
</p>
<p>
<strong>What we care about</strong>
</p>
<p>
We believe that everyone should be a part of the political conversation in our country, so we’re making it easy to be involved this election. We want to facilitate connections and conversations between those in power and the people, to help NZ’s politicians be both relevant and responsive. Through this platform, we want to facilitate youth political participation with an end goal of raising voter turnout.
</p>
<p>
<strong>How we selected the parties</strong>
</p>
<p>
Our criteria for inclusion in any questions is that the Party is currently represented in parliament or they are polling at least 1%. That means we have invited the following parties to take part.
</p>
<ul>
<li><a href="http://www.national.org.nz/">The National Party</a></li>
<li><a href="http://www.labour.org.nz/">Labour Party</a></li>
<li><a href="https://www.greens.org.nz/">The Green Party</a></li>
<li><a href="http://www.nzfirst.org.nz/">New Zealand First</a></li>
<li><a href="http://www.maoriparty.org/">Māori Party</a></li>
<li><a href="http://www.act.org.nz/">ACT</a></li>
<li><a href="http://unitedfuture.org.nz/">United Future</a></li>
<li><a href="http://www.top.org.nz/">The Opportunities Party (TOP)</a></li>
</ul>
<p>
We have written to all of these parties inviting them to take part. 
</p>
<p>
We have created 14 question categories.  Any question can be answered by any candidate but we have asked each of  the parties to nominate a candidate for each of the following topics.
</p>
<ul>
<li>Arts, culture and heritage</li>
<li>Business development</li>
<li>Children & youth policies</li>
<li>Climate change and energy</li>
<li>Defence</li>
<li>Education</li>
<li>Employment issues</li>
<li>Environment &amp; Conservation</li>
<li>Foreign Affairs and Trade</li>
<li>Health</li>
<li>Justice, Police and Prisons</li>
<li>Social welfare </li>
<li>Taxation and revenue</li>
<li>Transport and roads</li>
</li>
<p>
<strong>Other voter campaigns to check out</strong>
</p>
<p>
As at the 2017 election Any Questions is one of several youth voter initiatives. Take a look at some of the other great resources out there.
</p>
<p>
<a href="http://onthefence.co.nz/">On The Fence</a> is a fun, visual questionnaire that educates and guides you to find a best match from New Zealand's political parties. It's also part of the Design and Democracy Project. It’s been updated since it’s last outing.
</p>
<p>
<a href="http://rockenrol.me/">RockEnrol</a> is a crowd-fuelled &amp; collaborative campaign that uses popular culture, music, events, grassroots community organising &amp; technology to build &amp; activate political power for young people. 
</p>
<p>
<a href="http://www.wehavepower.org.nz/">We have power</a> is a campaign run through the New Zealand Union of Students’ Associations (NZUSA), and powered by young people across the country.  NZUSA have identified that if 4 out of 5 people under 30 vote at this year’s election that voting bloc will be the biggest in Aotearoa. Their website includes a policy survey and <a href="http://www.wehavepower.org.nz/get_enrolled">information</a> that makes registering to vote really easy.
</p>
<p>
<strong>Terms of Use and Privacy Policy</p>
</p>
<p>
Please have a gander at our <a href="/terms_of_use">Terms of Use</a> and <a href="/privacy_policy">Privacy Policy</a>. 
</p>
<p>
Any Questions is an open source project and the software is published on <a href="https://github.com/scoopmedia/anyquestions">our GitHub repository</a>.
</p>


</div>
</div>
</div>
</div>
</div>
</div>
